{% load i18n %}
{% load crispy_forms_tags %}
{% load thumbnail %}

<div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 mx-auto" style="max-width: 480px;">
  <div class="py-3 px-6 mb-0 bg-gray-200 border-b-1 border-gray-300 text-gray-900">
    <h3>{% trans "Change Profile" %}</h3>
  </div>
  <div class="flex-auto p-6">
    {% if submitted %}
      <p class="relative px-3 py-3 mb-4 border rounded bg-green-200 border-green-300 text-green-800" role="alert">
        {% trans 'Profile has been successfully modified!' %}
      </p>
    {% endif %}
    <div id="avatar_display">
      {% include "account/htmx/avatar_display.html" %}
    </div>
    <form>
      {{ form|crispy }}
      <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600"
              type="submit"
              hx-post="{% url 'account_profile' %}"
              hx-target="#content">
        {% trans "Change Profile" %}
      </button>
      <a class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-gray-600 text-white hover:bg-gray-700"
         hx-get="{% url 'password_change' %}"
         hx-target="#content"
         hx-push-url="true">{% trans "Change Password?" %}
      </a>
    </form>
    <hr>
    <a class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-green-500 text-white hover:green-600"
       href="{% url 'socialaccount_connections' %}">{% trans "Connect social" %}
    </a>
    <a class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-red-600 text-white hover:bg-red-700"
       hx-delete="{% url 'account_profile' %}"
       hx-target="#content"
       hx-confirm="{% trans 'Are you sure you want to delete your account?' %}"
    >{% trans "Delete** Account" %}
    </a>
    <p class="mt-2"><small>{% trans "*Required fields" %}</small></p>
    <p class="mt-2">
      <small>
        {% blocktrans with request.site.name as site_name %}
          **WARNING! Account will not be deleted, but set to 'inactive'.
          All user info except username will be completely deleted.
          Contact {{ site_name}} if you want to recover your original account.
        {% endblocktrans %}
      </small>
    </p>
  </div>
  <div class="relative inline-block text-left">
    <div>
      <button type="button"
              class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
              script="on click toggle .hidden on #foo">
        Options
        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
         id="foo" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
        <form method="POST" action="#" role="none">
          <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
        </form>
      </div>
    </div>
  </div>
</div>
