{% load i18n %}

{% if not user.profile.anonymize %}
  {% if user.get_avatar %}
    {% include "account/htmx/avatar_snippet.html" %}
    <a class="link-primary"
       hx-get="{% url 'avatar_update' %}"
       hx-target="#avatar_display">
      {% trans "Modify Avatar" %}
    </a>
  {% else %}
    <!-- No avatar, show only create button -->
    <button id="avatar-create-button"
            class="btn btn-bg btn-success"
            script="on click hide me then show #avatar-create-form">
      {% trans "Add Avatar" %}
    </button>
    <!-- Hidden create form -->
    {% include "account/htmx/avatar_create.html" %}
  {% endif %}
  <hr>
{% endif %}
