{% load i18n %}
{% load crispy_forms_tags %}

<div id="avatar-update-form"
     class="card mt-2"
     style="display: none">
  <div class="card-body">
    <form>
      {{ avatar_form|crispy }}
      <div class="row">
        <div class="col">
          <button class="btn btn-primary"
                  type="submit"
                  hx-post="{% url 'avatar_update' %}"
                  hx-target="#avatar_display"
                  hx-encoding="multipart/form-data">
            {% trans "Change Image" %}
          </button>
          <button class="btn-close"
                  title="{% trans 'Dismiss' %}"
                  script="on click hide #avatar-update-form then show #avatar-update-link">
          </button>
        </div>
        <div class="col text-end">
          {% if user.profile.avatar %}
            <button class="btn btn-danger"
                    hx-delete="{% url 'avatar_update' %}"
                    hx-target="#avatar_display"
                    hx-confirm="{% blocktrans %}
                                  Click 'OK' to delete your Avatar.
                                  Remember that social account images
                                  cannot be deleted.
                                {% endblocktrans %}">
              {% trans 'Delete' %}
            </button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
