{% load i18n %}

{% if not user.profile.anonymize %}
  {% if user.get_avatar %}
    {% include "account/htmx/avatar_snippet.html" %}
    <a class="link-primary"
       hx-get="{% url 'avatar_update' %}"
       hx-target="#avatar_display">
      {% trans "Modify Avatar" %}
    </a>
  {% else %}
    <button class="btn btn-bg btn-success"
            hx-get="{% url 'avatar_display' %}?create=true"
            hx-target="#avatar_display">
      {% trans "Add Avatar" %}
    </button>
  {% endif %}
  <hr>
{% endif %}
