{% load i18n %}
{% load crispy_forms_tags %}

<div id="avatar-create-form"
     class="card"
     {% if not invalid_form %}style="display: none"{% endif %}>
  <div class="card-body">
    <form>
      {{ avatar_form|crispy }}
      <button class="btn btn-primary"
              type="submit"
              hx-post="{% url 'avatar_display' %}"
              hx-target="#avatar_display"
              hx-encoding="multipart/form-data">
        {% trans "Add Avatar" %}
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss' %}"
              script="on click hide #avatar-create-form then show #avatar-create-button">
      </button>
    </form>
  </div>
</div>
