django>=4.2.5,<5.0
psycopg[binary,pool]
django-allauth
django-htmx
django-modeltranslation
environs[django]
coverage
django-debug-toolbar
factory_boy
django-tinymce
pillow
easy-thumbnails
django-filer
django-crispy-forms
crispy-bootstrap5
crispy-tailwind
django-tailwind-cli
