django>=5.0,<6.0
psycopg[binary,pool]
django-allauth[socialaccount]
django-htmx
django-modeltranslation
environs[django]
coverage
django-debug-toolbar
factory_boy
django-tinymce
pillow
easy-thumbnails
django-filer
django-crispy-forms
crispy-bootstrap5
neapolitan
django-template-partials
django-geojson
jsonfield
django-leaflet
ezdxf
django-colorfield
pyproj
shapely
nh3
