{% for field, errors in fields %}
  <div class="mb-3">
    {% if field.name == "anonymize" %}
        <div class="form-check">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
        </div>
    {% else %}
        <label class="form-label" for="{{ field.id_for_label }}">
        {{ field.label }}
        </label><br>
        {{ field }}
        {% if errors %}
        {% for error in errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        {% endif %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    {% endif %}
  </div>
{% endfor %}
